<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid align-items-center">
      <a class="navbar-brand" href="/">Sabela</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Redes
            </a>
  
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-purple" href="https://www.instagram.com/sabelacalderon/">Instagram #
              </a></li>
              <li><a class="dropdown-item" href="https://www.tiktok.com/@sabelacalderonlah">tiktok</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contacto</a></li>
            </ul>
          </li>
          <a class="nav-link active left-5" aria-current="page" href="/maquillajes/">Maquillajes</a>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit"><a href="/search/" class="nav-link">search</a></button>
          <a class="nav-link active left-5" aria-current="page" href="/admin/">admin</a>
        </form>
      </div>
    </div>
  </nav>