{% extends 'includes/base.html' %}
{% load static %}
{% block titulo %}
    Sabela 😊
{% endblock titulo %}

{% block body %}
    {% include 'includes/header.html' %}
  <div class="container">
 <div class="row">
<div class="col" style="margin-top: 20px;">

  <div class=" w-auto h75">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/i1.png' %}" class="d-block w-auto w-25" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/i2.png' %}" class="d-block w-auto w-25" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/i4.png' %}" class="d-block w-auto w-25" alt="...">
        </div>
      </div>
  </div>
  </div>
</div>
<div class="col bg-dark" style="height: 50%;shape-outside: circle(25%); border-radius: 25%;">
</div>


 </div>
    <!-- fin de carrousel -->

  </div>
{% endblock body %}
    