{% extends 'includes/base.html' %}
{% load static %}

{% block titulo %}
    maquillajes 💄
{% endblock titulo %}
    

{% block body %}
{% include 'includes/header.html' %}
<form method="get" class="form-sm"> {% csrf_token %}
<input type="text" placeholder="tipo de maquillaje ej: full body" name="search" id="search">
    <input type="submit" value="search" class = "btn btn-success">
    <hr>
</form>
   <div class="container">
<!-- bucle for cards -->
<div class="row">
{% for i in object_list %}
  

        <div class="col">

            <div class="card" style="height: 709px; width: 375px; margin: auto;">
                <div class="card-img-top"><img src="{{i.img.url}}" alt="" width="360px" height="500px"></div>
                <p>tipo: {{i.tipo}}</p>
                <div class="card-body">
                    <div class="card-title" style="color: black;"><h5>{{i.nombre}} </h5></div>
                    <a href="#" class="btn btn-primary">Detalles</a>
                    <div class="card-text" style="color: black;"><p>{{i.descripcion}}<br>  
                        <span>precio:</span>
                        {{i.price}}</p></div>
                </div>
            </div>
        </div>
    
{% endfor %}
</div>

   </div>
{% endblock body %} 
    
    
